/* START header styling */
.loginNav {
    text-align: end;
}
.loginList {
    display: inline;
    list-style: none;
}
.loginLink {
    text-decoration: none;
    color: black;
}
.loginLink:hover {
    color: aqua;
}
.pageNav {
    text-align: center;
}
.pageList {
    display: inline;
    margin: 0 20px;
}
.pageLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
.pageLink:hover {
    color: aqua;
}

/* End header styling */

/* START footer styling */
/* END footer styling */

/* START index styling */
body {
    background: linear-gradient(to bottom right, blue, pink);
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
img {
    align-self: stretch;
    max-width: 400px;
    max-height: 400px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px auto;
}
/* END index styling */

/* START other pages styling */
/* END other pages styling */
